:root {
  /* color */
  --header-color: #25c6d8;
  --background-color: #eceff1;
  --bottom-color: #e0e0e0;
  --trashbtn-color: #25c6d8;
  --addbtn-color: hsl(187, 100%, 93%);
  --list-color: #e5e1e6;

  /* size */
  --font-size: 1.5rem;
  --font-medium-size: 1rem;
  --button-size: 4.2rem;
  --header-height: 10%;
  --input-height: 5%;
  --list-height: 68%;
  --bottom-height: 15%;
}

@font-face {
  font-family: yusei;
  src: url("YuseiMagic-Regular.ttf");
}

html {
  height: 100%;
  font-family: yusei;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;
  font-size: var(--font-size);
}

ul {
  list-style: none;
  padding: 0;
}

.frame {
  min-width: 286px;
  min-height: 450px;
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  margin: 100px auto;
  border-radius: 20px;

  -webkit-box-shadow: 10px 15px 18px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 15px 18px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 15px 18px -5px rgba(0,0,0,0.75);
}

.header {
  height: 10%;
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(158, 158, 188, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  font-size: var(--font-size);
  border-radius: 20px 20px 0 0;
  padding: 8px 0;
}

.shoppingItems {
  font-size: var(--font-medium-size);
  height: 80%;
  overflow-y: scroll;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px;
  padding: 0 10px;
  background-color:var(--list-color);
  border-radius: 8px;
}

button {
  font-size: var(--font-size);
  border-style: none;
  background-color: transparent;
  
}

.btnTrash {
  font-size: var(--font-medium-size);
  border-style: none;
  color: var(--trashbtn-color);
  transition: ease-in 200ms;
}

.btnTrash:hover {
  transform: scale(1.2);
  color: rgb(224, 77, 175);
  cursor: pointer;
}

.bottom {
  height: 18%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(158, 158, 188, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  font-size: var(--font-size);
  border-radius: 0 0 20px 20px;
  
}

.inputItem {
  padding:0;
  border-style: none;
  height: 1.5em;
  outline: 0;
  font-size: 1em;
}

.addBtn {
  margin-top: 4px;
  font-size:1.4em;
  outline-style: none;
  color: var(--addbtn-color);
}

button:hover {
  cursur:pointer;
}

button:active {
  outline: none;
  border: none;
}