:root {
  --background-color: black;
  --font-color: white;
  --target-height: 50px;
  --target-width: 50px;
}

* {
  background-color: var(--background-color);
  cursor: crosshair;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.verticalLine {
  z-index: 1;
  position: fixed;
  border-left: 2px solid var(--font-color);
  height: 100%;
}

.horizenLine {
  z-index: 1;
  position: fixed;
  border-top: 2px solid var(--font-color);
  width: 100%;
}

.coordinateValue span {
  color: var(--font-color);
  position: absolute;
  margin:20px;
}

.coordinateValue img {
  z-index: 0;
  position: absolute;
  width: var(--target-width);
  height: var(--target-height);
}
